@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "SUITE-Regular";
}

/* MainPage */
/* icon */
.AiOutlineSearch {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 665px;
  top: 75px;
  border: none;
  cursor: pointer;
}
.IoIosShareAlt {
  margin-left: 84px;
  margin-top: 7px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.IoIosHeart {
  margin-left: 84px;
  margin-top: 16px;
  cursor: pointer;
  color: #ff7675;
}

/* Main */

.true {
  margin: 30px;
  cursor: pointer;
  color: #6f5cea;
  padding: 10px;
  border-radius: 50%;
  background-color: #f5f3fe;
}
.false {
  margin: 30px;
  cursor: pointer;
  color: #9c9c9c;
  background-color: #f8f8f8;
  padding: 10px;
}
.RiMapPinLine {
  margin: 30px;
  cursor: pointer;
  color: #9c9c9c;
  background-color: #f8f8f8;
  padding: 10px;
}
/* Calendar */

.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

.BiMinus {
  width: 30px;
  margin-top: 17px;
}
.BiSearch {
  color: #535571;
  margin: 5px;
}
.AiOutlineUserAdd {
  margin: auto;
  color: #6f5cea;
}
.AiOutlinePlusCircle {
  margin: auto;
  color: #6f5cea;
}

/* Approval */
.AiOutlineSearch2 {
  width: 10px;
  height: 10px;
  margin: 5px;
}

/* datepicker */

.react-datepicker__triangle {
  transform: translate(90px, 0px) !important;
}
.example-custom-input {
  background: #8165df;
  border-radius: 4px;
  width: 166px;
  height: 23px;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
/* ReservationCom */
.timeTrue {
  border: 1px solid #6f5cea;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8165df;
  color: #ffffff;
}

.timeFalse {
  border: 1px solid #6f5cea;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  color: #8165df;
}

.timeFalse :hover {
  background-color: #8165df;
  color: #ffffff;
}
